*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --title-color: #e53170;
    --img_bg-color: #0f0e17;
    --email-color: #5edefe;
}
h1{
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #e53170;
}
body{
    font-family: 'Fredoka', sans-serif;
}

.container{
    max-width: 1170px;
    margin:auto;
    width: 80%;
}.testo{
    padding-bottom: 3rem;
}
.col{
    float: left;
    width: calc(100% / 3);
    padding: 0 20px 20px 0;
}
.team {
    background-color: #0f0e17;
    color: white;
    border: 1px solid #0f0e17;
    box-shadow: 1px 1px 3px black;
}

.team img {
    width: 100px;
    float: left;
}
.content {
    margin-left: 104px;
}
.team h3, .team p{
    padding-bottom: 5px;
    padding-top: 0.5rem;
}
.team .email{
    color: #5edefe;
    
}


/* Tools */
.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
